.Header {
  background-color: rgb(110, 21, 138);
  padding: 0 2rem;
  font-size: 26px;
  font-weight: bold;
}
.div-container{
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.nav-container{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.navLink-space{
margin: 0 0.5rem;
color: aliceblue;
text-decoration:none;
}
img{
  height: 140px;
}
